.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.products > article {
  flex-direction: column;
}

.products > article > img {
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
}

.products > article > h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 10px;
}

.products h3 > a {
  color: var(--color-black);
  text-decoration: none;
}

.products__summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 10px 10px;
}

.products__summary > p:nth-of-type(2) {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
}

.products__summary > p:nth-of-type(2) > span {
  margin-left: 5px;
}
