.header {
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0 2px 2px var(--color-shadow);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.header > h1 > a {
  color: var(--color-black);
  display: block;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-decoration: none;
}

.header__cart {
  align-items: center;
  display: flex;
  padding: 16px 20px;
  text-decoration: none;
}

.header__cart:hover > img,
.header__cart.active > img {
  filter: invert(36%) sepia(59%) saturate(3164%) hue-rotate(142deg)
    brightness(91%) contrast(96%);
}

.header__cart > p {
  border-radius: 5px;
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 5px 5px;
}

.header__cart:hover > p,
.header__cart.active > p {
  color: var(--color-green);
}
