.menu__page {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 7px;
  text-decoration: none;
}

.menu__page:hover,
.menu__page.active {
  color: var(--color-green);
}

.menu__page:hover > img,
.menu__page.active > img {
  filter: invert(36%) sepia(59%) saturate(3164%) hue-rotate(142deg)
    brightness(91%) contrast(96%);
}
