.menu {
  background-color: var(--color-white);
  box-shadow: 0 -2px 2px var(--color-shadow);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.menu > ul {
  align-items: center;
  display: flex;
  list-style: none;
}

.menu > ul > li {
  flex: 0 0 calc(100% / 4);
  font-size: 0.75rem;
  text-align: center;
}
