.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.categories > article {
  align-items: center;
  padding: 15px;
}

.categories > article > p {
  text-transform: capitalize;
}

.categories > article a {
  color: var(--color-black);
  text-decoration: none;
}