.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.categories > article {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--color-shadow);
  display: flex;
  flex: 0 0 calc(100% / 2 - 5px);
  padding: 15px;
}

.categories > article > p {
  text-transform: capitalize;
}

.categories > article a {
  color: var(--color-black);
  text-decoration: none;
}