@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/plus-jakarta-sans-v3-latin-regular.eot");
  src: local(""),
    url("./fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/plus-jakarta-sans-v3-latin-regular.woff2") format("woff2"),
    url("./fonts/plus-jakarta-sans-v3-latin-regular.woff") format("woff"),
    url("./fonts/plus-jakarta-sans-v3-latin-regular.ttf") format("truetype"),
    url("./fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans")
      format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/plus-jakarta-sans-v3-latin-700.eot");
  src: local(""),
    url("./fonts/plus-jakarta-sans-v3-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/plus-jakarta-sans-v3-latin-700.woff2") format("woff2"),
    url("./fonts/plus-jakarta-sans-v3-latin-700.woff") format("woff"),
    url("./fonts/plus-jakarta-sans-v3-latin-700.ttf") format("truetype"),
    url("./fonts/plus-jakarta-sans-v3-latin-700.svg#PlusJakartaSans")
      format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/plus-jakarta-sans-v3-latin-italic.eot");
  src: local(""),
    url("./fonts/plus-jakarta-sans-v3-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/plus-jakarta-sans-v3-latin-italic.woff2") format("woff2"),
    url("./fonts/plus-jakarta-sans-v3-latin-italic.woff") format("woff"),
    url("./fonts/plus-jakarta-sans-v3-latin-italic.ttf") format("truetype"),
    url("./fonts/plus-jakarta-sans-v3-latin-italic.svg#PlusJakartaSans")
      format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/plus-jakarta-sans-v3-latin-700italic.eot");
  src: local(""),
    url("./fonts/plus-jakarta-sans-v3-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/plus-jakarta-sans-v3-latin-700italic.woff2") format("woff2"),
    url("./fonts/plus-jakarta-sans-v3-latin-700italic.woff") format("woff"),
    url("./fonts/plus-jakarta-sans-v3-latin-700italic.ttf") format("truetype"),
    url("./fonts/plus-jakarta-sans-v3-latin-700italic.svg#PlusJakartaSans")
      format("svg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #171717;
  --color-green: #059669;
  --color-red: #dc2626;
  --color-white: #fafafa;
  --color-white-100: #f5f5f5;
  --color-white-400: #a3a3a3;

  --color-shadow: #e5e5e5;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-white-100);
  color: var(--color-black);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

main {
  margin-inline: auto;
  margin-top: 56px;
  max-width: 960px;
  padding-bottom: 56px;
}

.loading {
  padding: 20px;
  text-align: center;
}

.page-title {
  font-size: 1.25rem;
  padding: 20px 20px 0;
  text-transform: capitalize;
}
